---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: All
SortIncludes: false
Standard: Latest
AccessModifierOffset: -4
